*{
    margin: 0;
    padding: 0;

}
html,body{
    width: 100%;
    height: 100%;
}
.shape{
    width: 140px;
    height: 140px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 76, 76);
}
.shape{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 20px;
}
#diamond{
  rotate: 45deg;
  margin-top: 40px;
  height: 102px;
  width: 102px;
  margin-left: 30px;
}
#diamond h3{
    rotate: -45deg;
}
#circle:hover{
background-color: chartreuse;
}
#diamond:hover{
background-color: orangered;
}
#rectangle:hover{
background-color: blue;
}